{% extends 'base/base.html' %}

{% load static %}

{% load list_books_extras %}

{% block title %} List of books {% endblock %}

{% block css_addition %}
    <link rel="stylesheet" href={% static 'css/table_style.css' %}>
{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Date start</th>
            <th>Date end</th>
            <th>Time delta</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{ book.author }}</td>
            <td><a href={{ book.get_url }}>{{ book.title }}</a></td>
            <td>{{ book.date_start|format_date }}</td>
            <td>{{ book.date_end|format_date }}</td>
            <td>{{ book.time_delta }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <h1>Количество книг: {{ total.id__count }}</h1>
{% endblock %}
